<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nectar Lifesciences Ltd. </title>
    <link rel="stylesheet" href="{{STATIC_URL}}style.css" type"text/css" media="screen">
  </head>
  <body>
	  <h1><center>Way to enter for Water System Data </h1>


    <form action ="" method = "POST">

      {% csrf_token %}
      <center>
        <input type ="floatformat" name="" placeholder="" required ><br> <br>
        <input type ="floatformat" name="" placeholder=" " required ><br> <br>
      <input type="submit">
    </form >

  </body>
</html>